<div class="index-container">
    <div>
    <h1>Cinema<br>IronHack</h1>
    {{!-- <button type="button" onclick="/movies">Check the movies!</button> --}}
       <form action="/movies" method="POST" >
            <button type="submit">Check</button>
       </form>
    </div>
</div> 
